* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-SEO {
    max-width: max-content;
    overflow-x: hidden;
}
.mainSEO {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25%;
    padding-right: 25%;
    width: max-content;
}
.first, .important, .audit {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.contact {
    margin-top: -10%;
    margin-bottom: 5%;
}
#miniDesc {
    font-size: 10px;
    font-weight: 550;
    color: #c42b91;
    border: #efc5e1 1px solid;
    background-color: #FCE8F6;
    border-radius: 30px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1%;
    padding-top: 1%;
    width: max-content;
    margin-bottom: 3%;
}
.squareEmoji {
    color: #c42b91;
    border: #efc5e1 1px solid;
    background-color: #FCE8F6;
    border-radius: 10px;
    padding: 2%;
    width: max-content;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito';
    font-weight: bold;
}
h1 {
    font-size: 52px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 20px;
}
p {
    font-family: 'Poppins';
    font-size: 20px;
}
a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-family: 'Poppins';
}
.normalText {
    color: #777A85;
}
.smallerText {
    color: #777A85;
    font-size: 18px;
}
.smallerText14 {
    color: #777A85;
    font-size: 14px;
}
.smallP {
    font-family: 'Poppins';
    font-size: 14px;
}
.pinkish {
    color: #C42B91;
}
.purplish {
    color: #7C4099;
}
.buttonThing {
    color: white;
    background-color: #c42b91;
    border-radius: 10px;
    width: max-content;
    padding: 1% 2%;
}
.impDesc, .auditDesc, .faqList {
    border: #777A85 1px solid;
    border-radius: 20px;
    padding: 1%;
    max-width: 65%;
    display: flex;
    flex-wrap: wrap;
}
.auditDesc {
    flex-direction: column;
}
.descBlock {
    margin: 4%;
    flex: 0 0 40%;
}
.aDescBlock {
    margin: 4%;
    flex: 0 0 1;
    display: flex;
    flex-wrap: wrap;
}
.floatyNum {
    flex: 0 0 5%;
}
.audText {
    flex: 0 0 75%;
    max-width: fit-content;
}
.audMiniDesc {
    color: #c42b91;
    border: #efc5e1 1px solid;
    border-radius: 20px;
    background-color: #FCE8F6;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    flex: 0 0 20%;
    margin-left: auto;
    max-height: fit-content;
    max-width: fit-content;
}
.pinkSEO {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: fit-content;
    background-color: #FCE8F6;
}
.statsFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
}
.statsIn {
    background-color: white;
    border: #777A85 1px solid;
    border-radius: 20px;
    padding: 2%;
    margin-right: 3%;
    flex: 0 0 22%;
}
.contact {
    margin-top: -5%;
    max-width: fit-content;
}
.miniCT {
    border: #efc5e1 1px solid;
    display: flex;
    flex-wrap: wrap;
    max-width: 65%;
    border-radius: 20px;
    padding: 3%;
    background-image: linear-gradient(to right, #FCE8F6 , rgba(65, 86, 167, 0.1));
}
.btnThingOutline {
    border: #c42b91 3px solid;
    border-radius: 10px;
    padding: 1%;
    flex: 0 0 30%;
    max-width: fit-content;
    max-height: fit-content;
    padding: 1% 2.5%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.txtBlock {
    flex: 0 0 70%;
    max-width: fit-content;
}
.howTo {
    max-width: 60%;
}
.howToFlex {
    max-width: 65%;
    display: flex;
    flex-wrap: wrap;
}
.howToBlock {
    border: #777A85 1px solid;
    border-radius: 20px;
    padding: 2%;
    flex: 0 0 30%;
    margin-right: 2%;
    max-width: fit-content;
}
.smallOpac {
    opacity: 18%;
}
.greySEO {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: fit-content;
    background-color: #F7F7F9;
}
.auditGet {
    display: flex;
    flex-wrap: wrap;
}
.auditGDesc {
    flex: 0 0 50%;
}
.auditGForm {
    background-color: white;
    border-radius: 20px;
    padding: 3%;
    flex: 0 0 45%;
    margin-left: 5%;
    box-shadow: -3px 3px 10px lightgrey;
}
input {
    border: #777A85 1px solid;
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 16px;
    color: #777A85;
    padding: 2%;
    width: 100%;
}
input[type='submit'] {
    padding: 4%;
    width: 100%;
    border: none;
    font-size: 16px;
}
.about {
    margin-top: -10%;
    max-width: fit-content;
    margin-bottom: 5%;
}
.aboutFlex {
    display: flex;
    flex-wrap: wrap;
}
.aboutSmall {
    border: #F7F7F9 1px solid;
    border-radius: 20px;
    background-color: #F7F7F9;    
    padding: 2%;
    flex: 0 0 30%;
    margin-right: 3%;
    max-width: fit-content;
}
.faq {
    margin-top: 5%;
    margin-bottom: 5%;
}
.faqList {
    flex-direction: column;
    max-width: 75%;
}
.accordion {
  background-color: #fff;
  font-family: 'Nunito';
  font-size: 18px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  padding: 2%;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.accordion:after {
  content: '▾';
  color: #C42B91;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: '▴';
  color: #C42B91;
  float: right;
  margin-left: 5px;
}
.panel {
  padding-top: 0;
  padding-bottom: 4px;
  padding-left: 2%;
  padding-right: 2%;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.footRedir {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25%;
    padding-right: 25%;
    width: 85%;
    text-align: center;
    margin-bottom: 5%;
}
.buttonThingFoot {
    color: white;
    background-color: #c42b91;
    border-radius: 10px;
    width: max-content;
    padding: 3% 4%; 
    margin: auto;
}
.buttonThing:hover, .buttonThingFoot:hover, .btnThingHead:hover, .btnThingMain:hover {
    background-color: #A82479;
}
.btnThingOutline:hover {
    background-color: #FCE8F6;
}

.body {
    max-width: 100%;
    overflow-x: hidden;
}
header {
    max-width: 100%;
    padding: 2% 5%;
    background-color: white;
    color: black;
    font-family: 'Poppins';
}
.headFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.homeBtn {
    background-color: #F3ECFB;
    border-radius: 10px;
    width: max-content;
    padding: 1% 2%;
    font-size: 20px;
    margin-right: 20%;
}
.refMiddle {
    margin: auto;
    color: black;
}
.btnThingHead {
    color: white;
    background-color: #c42b91;
    border-radius: 10px;
    width: max-content;
    padding: 1% 2%;
    margin-left: 20%;
}
.hero {
    padding: 5%;
    display: flex;
    background-image: linear-gradient(to right, #EBEEFA , #F8ECF6);
}
.heroTxt {
    flex: 0 50%;
}
.heroImg {
    flex: 0 50%;
}
#miniDescPurple {
    font-size: 10px;
    font-weight: 550;
    color: #7C4099;
    background-color: #FFF;
    border-radius: 30px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1%;
    padding-top: 1%;
    width: max-content;
    margin-bottom: 3%;
}
.btnThingMain {
    border: #c42b91 2px solid;
    color: white;
    background-color: #c42b91;
    border-radius: 10px;
    width: max-content;
    padding: 2% 3%;
}
.btnThingOutlinePurple {
    border: #7C4099 2px solid;
    border-radius: 10px;
    padding: 1%;
    max-width: fit-content;
    max-height: fit-content;
    padding: 2% 3%;
    margin-left: 1%;
}
.cyanish {
    color: #0EA5B7;
}
.statTable {
    margin-top: 5%;
    margin-left: -60px; 
    border-collapse: separate;
    border-spacing: 60px 0;
}
th {
    font-size: 30px;
    font-family: 'Nunito';
    text-align: left;
}
.heroImg {
    margin-left: 4%;
}
#heroVisual {
    width: 85%;
}
.vSmallPGrid {
    font-family: 'Poppins';
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 600;
}
.issues {
    padding: 5%;
    background-color: #f7f7fa;
}
.issueGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5% 2%;
}
.issueContainer {
    overflow: hidden;
    border-radius: 25px;
}
.issueContainer h4 {
    font-size: 20px;
}
.issueSmallP {
    font-family: 'Poppins';
    font-size: 12px;
    flex: 0 0 50%;
    text-align: right;
    margin: auto;
    letter-spacing: 3px;
    font-weight: 600;
}
.tagline {
    display: flex;
}
.microDescPink {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 12px;
    background-color: rgba(196, 43, 145, 0.08);
    padding: 2% 3%;
    border-radius: 25px;
    max-width: fit-content;
}
.microDescPurple {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 12px;
    background-color: rgba(124, 64, 153, 0.08);
    padding: 2% 3%;
    border-radius: 25px;
    max-width: fit-content;
}
.microDescBlue {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 12px;
    background-color: rgba(65, 86, 167, 0.08);
    padding: 2% 3%;
    border-radius: 25px;
    max-width: fit-content;
}
.issueSolution {
    padding: 5%;
    padding-bottom: 10%;
    background-color: white;
}
.issueSolution p {
    line-height: 1.8;
}
.issuePink {
    padding: 5%;
    background-color: #FAE8F2;
}
.issuePink h3 {
    font-size: 30px;
    color: #C42B91;
    opacity: 25%;
    flex: 0 0 50%;
}
.issuePurple {
    padding: 5%;
    background-color: #F2EBFA;
}
.issuePurple h3 {
    font-size: 30px;
    color: #7C4099;
    opacity: 25%;
    flex: 0 0 50%;
}
.blueish {
    color:#4156A7;
}
.issueBlue {
    padding: 5%;
    background-color: #EBF0FA;
}
.issueBlue h3 {
    font-size: 30px;
    color: #4156A7;
    opacity: 25%;
    flex: 0 0 50%;
}
.miniDescHardPink {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 14px;
    background-color: #C42B91;
    padding: 1% 2%;
    border-radius: 25px;
    max-width: fit-content;
}
.packet {
    padding: 5%;
    background-color: #EBF0FC;
    text-align: center;
}
.fullPack {
    background-color: #171721;
    border-radius: 25px;
    padding: 5%;
    color: white;
}
.fullPack h3 {
    font-size: 34px;
}
.fullPack .btnThingMain {
    padding: 5%;
}
.fullPackFlex {
    display: flex;
}
.fullPackFLeft {
    flex: 0 0 50%;
    text-align: left;
}
.fullPackFRight {
    flex: 0 0 35%;
    margin: auto;
}
.fullPackFRightS {
    flex: 0 0 20%;
    margin: auto;
    margin-left: -15%;
}
.featList {
    text-align: left;
    width: 100%;
} 
.fullPackFeature {
    padding-bottom: 2%;
}
.fullPack td {
    font-family: 'Poppins';
    font-size: 20px;
    padding-bottom: 1%;
    justify-content: center;
}
.checkGreen {
    width: 30px;
    vertical-align: middle;
    margin-right: 1%;
}
.packFlex {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.packFlex ul {
    list-style: none ;
}
.packFlex li {
    line-height: 1.8;
    font-family: 'Poppins';
    color: #404047;
    font-size: 16px;
}
.packFlex h3 {
    font-size: 28px;
}
.starterP {
    border: 3px solid #C42B91;
    border-radius: 25px;
    background-color: #fff;
    padding: 4% 3%;
    flex: 0 0 49%;
    text-align: left;
}
.starterP li::before {
    content: '✓';
    color: #0EA5B7;
    font-size: 22px;
    padding-right: 2%;
}
.starterP .btnThingMain {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 2%;
}
.themeP {
    border: 3px solid #7C4099;
    border-radius: 25px;
    background-color: #fff;
    padding: 4% 3%;
    flex: 0 0 49%;
    text-align: left;
}
.themeP li::before {
    content: '✓';
    color: #7C4099;
    font-size: 22px;
    padding-right: 2%;
}
.themeP .btnThingMain {
    border: #7C4099;
    background-color: #7C4099;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 2%;
}
.themeP .btnThingMain:hover {
    background-color: #6A3684;
}
.fullOffer {
    padding: 5%;
    background-color: #fff;
}
.offerHeadline {
    display: flex;
    height: max-content;
}
.offerHText {
    flex: 0 0 50%;
}
.fullOffer .btnThingOutline {
    flex: 0 0 20%;
    border: 1px solid #DBDEEB;
    color: black;
    padding: 1% 2%;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10%;
}
.offerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4% 2%;
}
.ofGridBox {
    border: 1px solid #EBEBF2;
    border-radius: 16px;
    padding: 10%;
}
.ofGridBox .microDescPurple {
    float: right;
    margin-top: -6%;
    margin-right: -6%;
    padding: 2% 5%;
}
.offerFrame {
    width: 20%;
}
.ofGridBox h4 {
    font-size: 20px;
}
.trial {
    padding: 5%;
    display: flex;
}
.trialText {
    margin: auto;
    flex: 0 0 70%;
}
#trialVisual {
    margin-top: auto;
    margin-bottom: auto;
    width: 25%;
    flex: 0 0 30%;
}
.trialText ul {
    list-style-type: none;
}
.trialText li {
    line-height: 1.8;
    font-family: 'Poppins';
    color: #404047;
    font-size: 16px;
    font-weight: bold;
}
.trialText li::before {
    content: "✓";
    color: rgb(14, 165, 183);
    font-size: 22px;
    padding-right: 2%;
}
.trialText .buttonThing {
    padding: 1.5% 3%;
    border-radius: 50px;
}
.clients {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    background-color: #1C1F2E;
}
.clients h3 {
    color: #fff;
    font-size: 35px;
}
.carousel {
    width: 100%;
    margin: auto;
    height: fit-content;
    display: flex;
    overflow-x: auto;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 25s infinite linear;
    padding-right: 1em;
}
.card {
    align-content: center;
    height: 8em;
    width: 16em;
    padding: 1% 2%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 15px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}
@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}
.partner {
    color: #777A85;
    text-align: center;
    padding: 5%;
    background-color: #F0F3FA;
}
#partnerLogo {
    width: 40%;
}
.CTAfinal {
    text-align: center;
    background-color: #4156A7;
    padding: 5%;
    color: #fff;
}
.CTAfinal .smallerText {
    color: #fff;
}
.CTAfinal .buttonThing {
    background-color: #fff;
}
.CTAfinal .buttonThing:hover {
    background-color: #FCE8F6;
}
.bigFooter {
    background-color: #171721;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}
.footMain {
    background-color: #171721;
    font-family: 'Nunito';
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    margin-bottom: 5%;
}
.fa {
    margin: 5%;
}
.footContent h4, .footContent h3 {
    margin-bottom: 1.5rem;
}
.footContent h4 {
    font-size: 20px;
}
.footContent li {
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 14px;
}
.footContent li a {
    font-weight: 500;
}
.footContent p {
    line-height: 30px;
    margin-bottom: -5%;
}
.btnThingFoot {
    border: #c42b91 2px solid;
    color: white;
    background-color: #c42b91;
    border-radius: 10px;
    width: max-content;
    padding: 3% 4%;
}
.footLower {
    margin-top: 5%;
    background-color: #171721;
    font-family: 'Nunito';
    color: white;
    display: flex;
    flex-wrap: wrap;
}
hr.footLine {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footLower li {
    list-style-type: none;
}
#reserved {
    flex: 0 0 50%;
    margin-right: 20%
}
.smallLink {
    font-weight: normal;
    flex: auto;
}