* {
    margin: 0;
    padding: 0;
    
}
body {
    max-width: 1440px;
    overflow-x: hidden;
}
.mainSEO {
    margin: auto;
    padding: 10% 30% 30% 10%;
    width: 1440px;
}
.first {
    margin: auto;
    padding-left: 20%;
}
#miniDesc {
    font-size: 10px;
    font-weight: 550;
    color: #c42b91;
    border: #efc5e1 1px solid;
    background-color: #FCE8F6;
    border-radius: 30px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1%;
    padding-top: 1%;
    width: max-content;
    margin-bottom: 3%;
}
h1 {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 48px;
}
.normalText {
    color: #777A85;
}
p {
    font-family: 'Poppins';
    font-size: 18px;
}
.smallP {
    font-family: 'Poppins';
    font-size: 12px;
}
.pinkish {
    color: #C42B91;
}
.purplish {
    color: #7C4099;
}
a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
}
.buttonThing {
    color: white;
    background-color: #c42b91;
    border-radius: 10px;
    width: max-content;
    padding: 1% 2%;
}
